.topsong-main {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-image: url("https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/theme-background/zma.svg");
  display: flex;
}

.topsong-main .topsong-container {
  width: calc(100vw - 220px);
  height: 100vh;
  overflow-y: auto;
  padding: 16px 2% 60px;
  color: #ffffff;
}

.container .layout-box {
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
}

.container .header-container {
  background-color: #595362;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.container .content-layout {
  width: 100%;
}

.container .content-layout .wrapper-layout {
  margin-top: 70px;
}

.wrapper-layout .header-titlepage {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 50px 0 0;
  z-index: 51;
  text-transform: capitalize;
  position: relative;
}

.header-titlepage .text-titlepage {
  color: #fff;
  z-index: 51;
  margin-right: 10px;
  white-space: nowrap;
}

.header-titlepage .control {
  width: 52px;
  display: flex;
  justify-content: center;
}

.header-titlepage .icon-play {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #9b4de0;
  cursor: pointer;
  border: none;
  z-index: 51;
  padding: 2px 0 0 2px;
}

.icon-play .fa-play {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.header-titlepage .icon-play:hover {
  background: #fff;
}

.header-titlepage .icon-play:hover .fa-play {
  color: #9b4de0;
}

a.playListSong-item {
  padding: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  z-index: 51;
  position: relative;
  top: 30px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playListSong-numbersong {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 70px;
}

.playListSong-numbersong .playListSong-numbersong-number {
  height: 37px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.playListSong-numbersong-number-span {
  -webkit-text-stroke: 1.5px #fff;
  color: rgba(74, 144, 226, 0);
  display: flex;
  font-size: 45px;
  font-weight: 600;
  justify-content: center;
  min-width: 38px;
  opacity: 0.7;
}

.playListSong-item:nth-child(1) .playListSong-numbersong-number-span {
  -webkit-text-stroke-color: #aaff00 !important;
}

.playListSong-item:nth-child(2) .playListSong-numbersong-number-span {
  -webkit-text-stroke-color: #0fe954 !important;
}

.playListSong-item:nth-child(3) .playListSong-numbersong-number-span {
  -webkit-text-stroke-color: #4a90e2 !important;
}

.playListSong-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playListSong-container .playListSong-container-left {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  width: 70%;
}

.playListSong-container-left .playListSong-item-img {
  cursor: pointer;
  height: 60px;
  width: 90px;
  position: relative;
  border-radius: 4px;
  text-align: center;
}

.playListSong-container-left .playListSong-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playListSong-item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  position: relative;
  transition: all 0.5s ease;
}

.playListSong-item-img .playListSong-item-img-icon {
  display: none;
  color: #fff;
}

.playListSong-item:hover .playListSong-item-img-icon {
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 11px);
  font-size: 27px;
}

.playListSong-container-left .playListSong-item-title {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 40%;
}

.playListSong-item-title-namesong {
  padding: 10px 0 0;
}

.playListSong-item-title .playListSong-item-title-namesong .title-namesong {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  padding: 0 4px;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  font-weight: 600;
}

.playListSong-item-title .playListSong-item-title-namesong .playListSong-item-title-nameartist {
  padding: 6px 0px;
  font-size: 12px;
  display: inline-block;
}

.playListSong-item-title-nameartist p {
  padding-left: 4px;
}
.playListSong-item-title-nameartist i {
  padding-right: 4px;
}

.playListSong-item-title-nameartist i,
.playListSong-item-title-nameartist a,
.playListSong-item-title-nameartist p {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.5);
}

.playListSong-container .playListSong-item-utilities {
  display: none;
  margin-left: auto;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-heart,
.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-ellipsis {
  font-size: 22px;
  padding: 10px;
  z-index: 10;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.3s ease; */
}

.playListSong-item-utilities .icon-heart-text {
  display: none;
  font-size: 14px;
  position: absolute;
  /* top: -30px;  */
  top: -35px; /* Điều chỉnh vị trí chữ và mũi tên */
  left: 25px;
  transform: translateX(-50%);
  background-color: #170f23;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

.playListSong-item-utilities .icon-ellipsis-text {
  display: none;
  font-size: 14px;
  position: absolute;
  top: -35px; /* Điều chỉnh vị trí chữ và mũi tên */
  left: 75px;
  transform: translateX(-50%);
  background-color: #170f23;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

.playListSong-container
  .playListSong-item-utilities
  .icon-ellipsis-text::before {
  content: ""; /* Nội dung pseudo-element (ở đây là mũi tên) */
  position: absolute;
  top: 100%; /* Hiển thị mũi tên phía dưới chữ */
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 8px; /* Kích thước của mũi tên */
  border-top-color: #170f23; /* Màu của mũi tên */
  z-index: 2; /* Để mũi tên hiển thị trên nền */
}

.playListSong-container .playListSong-item-utilities .icon-heart-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 8px;
  border-top-color: #170f23;
  z-index: 2;
}

.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-heart:hover
  .icon-heart-text {
  display: block;
}

.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-ellipsis:hover
  .icon-ellipsis-text {
  display: block;
}

.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-heart:hover,
.playListSong-container
  .playListSong-item-utilities
  .playListSong-item-utilities-icon-ellipsis:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.playListSong-container:hover .playListSong-item-utilities {
  display: block;
  display: flex;
}

.playListSong-item:hover .playListSong-item-runtime {
  display: none;
}

.playListSong-container-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 5px;
  width: 41px;
  height: 15px;
  display: flex;
  align-items: center;
}

.playListSong-container-right .playListSong-item-runtime {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}

.control-music {
  height: 90px;
  background-color: #130c1c;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  z-index: 1000;
}
@media (max-width: 1024px) {
  .topsong-main .topsong-container {
    width: 100%;
  }
}
